.liste.produits.thumb .item {float:left;clear:none;width: 32%;border: 0;}
.liste.produits.thumb .item:nth-child(3n) {float: right;}
.liste.produits.thumb .item:nth-child(3n+1):before {
	display: block;
	content:"";
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	border-top:1px solid #eee;
	margin-top:-1em;
}
.liste.produits.thumb .item:nth-child(3n+1) {clear:both;margin-right: 2%;}
.liste.produits.thumb .item:last-child {border-bottom: 0}
.liste.produits.thumb .liste-items {position: relative}